<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <RunConfiguration>
    <NoAutoReporters>true</NoAutoReporters>
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
       <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[xunit.core*]*,[xunit.execution*]*,[xunit.runner.rep*]*,[xunit.util*]*,[xunit.assert*]*,[xunit.abst*]*</Exclude> <!-- [Assembly-Filter]Type-Filter -->          
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
        </Configuration>
      </DataCollector>                 
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
