<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.TestPlatform.ObjectModel" version="11.0.0" targetFramework="net35" />
  <package id="PdbGit" version="3.0.38" targetFramework="net35" developmentDependency="true" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net35" />
  <package id="xunit.runner.utility" version="2.2.0-beta5-build3474" targetFramework="net35" />
</packages>