<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.TestPlatform.ObjectModel" version="0.0.4" targetFramework="net35" />
  <package id="xunit.abstractions" version="99.99.99" targetFramework="net35" />
  <package id="xunit.runner.utility" version="99.99.99" targetFramework="net35" />
</packages>